body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.create-note form{
  background-color: wheat;
    border-radius: 5px;
    text-align: center;
    padding: 19px 0;
}
.create-note input{
  width:450px;
}
@media(max-width:860px){
  .create-note input{
    width:auto;
  } 
}